
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #333;
    padding: 20px 5px;
    text-align: center;
}
.navbar a {
    border: #333 solid;
    border-radius: 15px;
    background-color: brown;
    padding: 15px;
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    filter: brightness(1.2);
    transition: filter 0.2s;
}
.active {
    font-weight: bold;
    filter:brightness(1.2)
}
.heading {
    color: #265828;
    font-size:500%;
    text-align: center;
    padding-right: 30px;
}
.main-heading {
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    color: brown;
    text-align: center;
    padding-top: 100px;
}
.dropdown-box {
    text-align: center;
}
.dropdown {
    padding: 4px 7px;
    font-size: medium;
    border-radius: 7px;
    margin: 2px;
    width: 280px;
    text-align: center;
    border-color: brown;
}
.submit-btn {
    padding: 7px 30px;
    border-radius: 15px;
    background-color: brown;
    margin-top: 30px;
    color: white;
}
.hover:hover {
    filter: brightness(1.2);
    transition: filter 0.2s;
}
.pdetails {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    text-align: center;
}
.holder {
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}
.text-box h1 {
    padding-left: 60px;
}
.holder p {
    padding-left: 180px;
    padding-top: 30px;
    font-size: x-large
}
.option {
    padding: 75px 100px;
    border-color: black;
    border-style: outset; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 5px;
    font-size: xx-large;
    transition: filter 0.2s;
    border-radius:30px;
}
.option:hover {
    filter: brightness(1.5); /* Brighten the button on hover */
}
#btna {
    background-color: #4f8c8c;
}
#btnb {
    background-color: #894e4e;
}
#btnc {
    background-color: #589552;
}
#btnd {
    background-color: #928150;
}
.glow {
    animation: glow-animation 1s infinite alternate;
}
@keyframes glow-animation {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(2);
    }
}
/* Add fading out effect when removing the glow */
.glow.fade-out {
    animation: glow-fade-out 0.5s forwards;
}

@keyframes glow-fade-out {
    0% {
        filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
        opacity: 0;
    }
}
.pdf-embed {
    height: 1000px;
    width: 900px;
} 
.correct-wrong-text {
    font-size: large;
    font-weight: bold;
}