* {
    margin: 0px;
    padding: 0px;
}
.heading {
    color: #265828;
    font-size:500%;
    text-align: center;
    padding-right: 30px;
}

body {
    background-color: #e1d0c1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.dropdown-box {
    font-size: medium;
    padding: 3px;
    padding-inline: 20px;
    text-align: center;
    width: 300px;
    margin: 3px;

    transition: filter 0.2s; /* Add a transition for smooth hover effect */
    border-radius: 10px; /* Add rounded edges */
}
.submit-button {
    padding: 15px;
    margin-top: 5px;
    background-color: #265828;
    color: white;
    
    transition: filter 0.2s;
    border-radius: 15px; 
}
.option {
    padding: 15px;
    margin: 5px;
    transition: filter 0.2s;
    border-radius: 10px;
}

.option:hover {
    filter: brightness(1.5); /* Brighten the button on hover */
}

#btna {
    background-color: #4f8c8c;
}

#btnb {
    background-color: #894e4e;
}

#btnc {
    background-color: #589552;
}

#btnd {
    background-color: #928150;
}
.pdf-embed {
    height: 1000px;
    width: 900px;
}
.correct-wrong-text {
    font-size: large;
    font-weight: bold;
}