<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title> Paper Page </title>
</head>
<body>
    <script>
        var qp_url = {{ qpurl | tojson | safe }};
        var ms_data = {{ ms_data | tojson | safe }};
        var subject = {{ pd_subject | tojson | safe }};
        var year = {{ pd_year | tojson | safe }};
        var code = {{ pd_code | tojson | safe }};
        var series = {{ pd_series | tojson | safe }};
        var variant = {{ pd_variant | tojson | safe }};
        var coreorextended = {{ pd_coreorextended | tojson | safe }}; 
    </script>
    <div class="navbar">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href="https://github.com/AhmedMurad22/PastPaperHelper">Github Repository</a>
        <a href="#">About</a>
    </div>

    <h1 class='pdetails' id="paper-details"></h1>

    <div class="holder">
        <div class="text-box">
            <h1 id="question-num"> Question Number: 1 </h3><br>
            <p id="correct-wrong" class="correct-wrong-text "></p>
        </div>
        <div class="toprow">
            <button id="btna" class="option" data-value="A"> A </button>
            <button id="btnb" class="option" data-value="B"> B </button>
        </div>
        <div class="bottomrow">
            <button id="btnc" class="option" data-value="C"> C </button>
            <button id="btnd" class="option" data-value="D"> D </button>
        </div>
    </div>
    
    <iframe align="right" id="pdf" class="pdf-embed" src="" ></iframe>
    <script src="{{ url_for('static', filename='paper.js') }}"></script>
</body>
</html>